<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" *ngIf="!isStarted">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="App Logo" src="../assets/diet.jpg">
  <br>
  <br>
  <button mat-fab color="primary" (click)="isStarted = true">
    Go &gt;
  </button>
</div>
<div class="stepper-wrapper" *ngIf="isStarted">
  <h3>Build up your eating!</h3>

  <mat-horizontal-stepper linear="true">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Step 1:</ng-template>
        <mat-grid-list cols="2" rowHeight="6:1">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Full Name</mat-label>
              <input [value] = "step1Form.fullName" name="fullName" matInput placeholder="Last name, First name" formControlName="nameCtrl" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Email Address</mat-label>
              <input matInput placeholder="email" formControlName="emailCtrl" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput placeholder="age" formControlName="ageCtrl">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select placeholder="Select">
                <mat-option value="female">Female</mat-option>
                <mat-option value="male">Male</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button (click)="isStarted = false">Back</button>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Step 2: </ng-template>
        <mat-form-field>
          <mat-label>Full Name</mat-label>
          <input  matInput placeholder="Last name, First name" formControlName="nameCtrl" required>
         </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="report()">View Report</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
